@import url("https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Iceland&family=Inria+Sans&display=swap");

$font-logo: "Holtwood One SC", serif;
$font-title: "Inria Sans", sans-serif;
$font-text: "Iceland", cursive;

$color-gray: #242635;
$color-background: #090a11;
$color-blue: #2666cf;

$breakpoints: (
    xs: 425px,
    sm: 768px,
    md: 1024px,
    lg: 1440px,
);
