@import "../../styles/a/_variables.scss";
@import "../../styles/a/_mixins.scss";

.movieDescriptionContainer {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;
    margin-top: 100px;
}
.movieImageContainer {
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
    justify-content: right;
    & img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        border-radius: 12px;
    }
}
.movieDataContainer {
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-left: 50px;
    & h1 {
        font-family: $font-text;
        font-size: 80px;
        color: $color-blue;
    }
    & p {
        font-family: $font-title;
        font-size: 20px;
        width: 80%;
        text-align: justify;
        color: #808080;
        margin: 20px 0;
    }
    & ul {
        display: flex;
        width: 80%;
        list-style: none;
        font-family: $font-text;
        font-size: 25px;
        flex-wrap: wrap;
        color: #808080;
        & li {
            font-family: $font-text;
            margin-left: 20px;
            font-size: 25px;
            color: #808080;
        }
    }
    & div {
        display: flex;
        margin-top: 20px;
        flex-direction: column;
    }
    & span {
        margin-top: 10px;
        font-family: $font-title;
        font-size: 17px;
        color: #808080;
        width: 100%;
    }
}
