@import "../../styles/a/_variables.scss";
.mainNav {
    width: 100%;
    height: 90px;
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: left;
    background-color: transparent;
    & div {
        width: 30%;
        height: 100%;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        & img {
            width: 55%;
            height: 100%;
            object-fit: cover;
        }
    }
    & ul {
        width: 30%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        list-style: none;
        & li {
            height: max-content;
            width: max-content;
            & a {
                padding: 10px;
                color: #fff;
                font-family: $font-title;
                letter-spacing: 2px;
                &:hover {
                    color: #c0c0c0;
                }
            }
        }
    }
    & .searchBar {
        background-color: #242635;
        border-radius: 50px;
        padding: 20px;
        width: 20%;
        height: 40px;
        color: #f1f1f1;
        &::placeholder {
            padding: 10px;
            color: #808080;
        }
    }
}
