@import "../../styles/a/_variables.scss";
@import "../../styles/a/_mixins.scss";

.bodyHome {
    width: 100%;
    height: max-content;
    display: flex;
    flex-direction: column;
    margin-top: 90px;
    @include media-down(lg) {
        justify-content: start;
    }
}
.mainHome {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;
    @include media-down(lg) {
        height: max-content;
        flex-wrap: wrap;
        margin-top: 100px;
        margin-bottom: 50px;
    }
    @include media-down(xs) {
        flex-direction: column;
    }
}
.footerHome {
    height: 20.5vh;
    @include media-down(lg) {
        height: max-content;
    }
    @include media-down(xs) {
        flex-direction: column;
    }
}
